---
title: #PrayForNepal - Inviting all Developers, Designers and Concerned individuals build a software for Nepal Earthquake 2015.
---

<div class="row">
  <center>
    <%#= image_tag "logo.png", class: "logo" %>
    <h2 class="title"> PrayForNepal </h2>
    <p class="subheader">Inviting all Developers / Designers / Photographers to help rebuild Nepal.</p>
  </center>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="button-bar">
      <ul class="button-group center on-top">
        <li><a class="large round button alert typeform-share" href="https://devs.typeform.com/to/DSa8c2" data-mode="1" target="_blank">Count Me In</a></li>
      </ul>
    </div>
    <%= image_tag "supportnepal.jpg", class: "shadow" %>
  </div>
</div>

<div class="footer subheader">
  <p class="message">
    Inviting Developers, Designers, Photographers and Concerned individuals to colaborate and develop softwares to help victims of 2015 Earthquake in Nepal. Please sign up above, we have created a slack channel where we will communicate and colaborate on different softwares and applications, ways we can help.
  </p>
  <p class="subheader footer-license">Code licensed under <a href="https://github.com/PrayForNepal/PrayForNepal.github.io/blob/source/LICENSE" target="_blank">MIT</a></p>
  </p>
</div>

<script>
  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>
